meta(charset="utf-8")
meta(name="viewport" content="width=device-width")
title #{siteName}
//-include _googleAnalytics
  include _icon
  include _pwa
link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css", rel="stylesheet",
integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC",
crossorigin="anonymous")
link(rel="stylesheet", href=cssUrl+"common.css")
include _script