extends _layout

block append config
  - var page = "Billing Management"

block append head

block content
  p.text-end 担当者：A
  h1.mb-4 請求管理
  form
    .row.align-items-center.g-3
      .col-auto
        h2 請求書発行
      .col-auto
        p.pt-3 締月指定
      .col-auto
        input.form-control(type="date")
      .col-auto
        button.btn.btn-primary(type="submit") 発行
  form.mb-4
    .row.align-items-center.g-3
      .col-auto
        h2 請求消費税内訳一覧
      .col-auto
        p.pt-3 締月指定
      .col-auto
        input.form-control(type="date")
      .col-auto
        button.btn.btn-primary(type="submit") 発行
  h2 請求書発行実績
  form
    .row.align-items-center.g-3
      .col-auto
        p.pt-3 請求番号
      .col-auto
        input.form-control(type="search")
      .col-auto
        button.btn.btn-primary(type="submit") 検索
  form
    .row.align-items-center.g-3
      .col-auto
        p.pt-3 期間指定
      .col-auto
        input.form-control(type="date")
      .col-auto
        p.pt-3 ～
      .col-auto
        input.form-control(type="date")
      .col-auto
        select.form-select
          option 未受領/受領済 絞り込み
          option 未受領
          option 受領済
  .table-responsive-lg
    table.table.align-middle.text-nowrap
      thead
        tr
          th.text-center(scope="col") 発行日
          th.text-center(scope="col") 請求番号
          th.text-center(scope="col") 得意先名
          th.text-center(scope="col") 請求金額
          th.min-w-430px(scope="col") 回収金額
      tbody
        tr
          td.text-center 2022/7/1
          td.text-center 11111111
          td.text-center 商店A
          td.text-center &yen;123,456,789
          td
            .row.align-items-center
              .col-auto
                input.form-control(type="text")
              .col-auto
                button.btn.btn-outline-primary(type="button", onclick="location.href='billing_management.html'")
                  | 2022/7/1
                  br
                  | 受領済
              .col-auto
                button.btn.btn-primary(type="submit") 詳細
        tr
          td.text-center 2022/7/1
          td.text-center 11111112
          td.text-center 商店B
          td.text-center &yen;56,789
          td
            .row.align-items-center
              .col-auto
                input.form-control(type="text")
              .col-auto
                button.btn.btn-outline-primary(type="button") 受領
              .col-auto
                button.btn.btn-primary(type="submit") 詳細
        tr
          td 2022/7/1
          td 11111113
          td 商店C
          td &yen;78,789
          td
            .row.align-items-center
              .col-auto
                input.form-control(type="text")
              .col-auto
                button.btn.btn-outline-primary(type="button") 受領
              .col-auto
                button.btn.btn-primary(type="submit") 詳細